body {
    font-family: Arial, sans-serif;
    background-color: #f7f1eb;
    margin: 0;
    padding: 0;
    color: #333;
}

.sukses-wrapper {
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin-top: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

table th {
    background-color: #b8860b;
    color: white;
    padding: 12px;
    border: none;
    text-align: center;
    font-size: 15px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
}

table tr:last-child td {
    border-bottom: none;
}

h3 span {
    color: #b8860b;
    font-weight: bold;
}

a {
    display: inline-block;
    margin-top: 30px;
    background: #b8860b;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    background: #8f6d09;
}

