body {
    font-family: "Poppins", sans-serif;
    background-color: #f9f4ef;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 60px;
    font-size: 36px;
    color: #2c2c2c;
    letter-spacing: 1px;
    font-weight: 600;
}

div {
    margin-top: 40px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #b8860b; 
    padding: 12px 22px;
    border: 2px solid #b8860b;
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.3s ease;
}

a:hover {
    background-color: #b8860b;
    color: white;
    box-shadow: 0 4px 10px rgba(184, 134, 11, 0.3);
}

hr {
    width: 70%;
    margin-top: 50px;
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #b8860b, transparent);
}

.kembali-wrapper {
    width: 90%;              
    margin: 20px auto 0 auto; 
    text-align: left;       
}

.btn-kembali {
    display: inline-block;  
    padding: 10px 18px;     
    background-color: #b8860b; 
    color: white;            
    border: none;           
    border-radius: 8px;      
    font-size: 16px;        
    font-weight: 500;       
    cursor: pointer;        
    text-decoration: none;   
    transition: 0.3s;        
}

.btn-kembali:hover {
    background-color: #d4a017;  
    box-shadow: 0 4px 10px rgba(184,134,11,0.4); 
}

p{
    padding-top: 20px;
}